
body{
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* .container{
    margin-top: auto;
    width: 100%;
    height: 100vh;
    
    overflow: hidden;
    background-image: url(https://wallpapers.com/images/hd/yellow-hd-bokeh-pattern-919v5bua8ig5jzk9.jpg);

} */

.content{
    margin: auto;
    width: 61%;
    height: 75%;
    position: relative;
    top: 11%;
    background-color: #fbf3f3;
    box-shadow: 0px 0px 20px #000000CC;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex-wrap: wrap;
    /* background-color: #FFFFFF; */
    /* background-image: url(https://media.istockphoto.com/id/1327586819/video/amazing-nature-cloudscape-time-lapse-storm-clouds-at-sunset-or-sunrise-time-horrible-weather.jpg?s=640x640&k=20&c=wf0HaNa9DleskmOnfxNC8N_T1-x-sm2_XUrD4SksBK8=); */
    background-repeat: no-repeat;
   
    background-image: url(https://png.pngtree.com/background/20230612/original/pngtree-drawing-of-lightning-and-clouds-picture-image_3173772.jpg);
    justify-content: center;
    align-items: center;
   
}

.item1{

    color: white;
    width: 86%;
    height: 30%;
    background-color: #00000066;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px #7D7878;
    position: relative;
    top: 35px;
}


.item2{
    
    width: 38%;
    height: 35%;
  
    margin-right: 3%;
   
    background: #00000066;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px #7D7878;
    position: relative;
    top: -44px;

}



.item3{
    width: 45%;
    height: 35%;
   
    background: #00000066;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 2px #7D7878;
    position: relative;
    top: -44px;
    display: flex;
}


h1{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.block1{
    color: #7D7878;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    top: 8px;
   
}
.block2{
    color: #7D7878;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
   
}

.blockvalue1{
   
    color: #F5F5F5;
    font-size: 13px;
    font-weight: 600;
    top: 6px;
}
.blockvalue2{

    color: #F5F5F5;
    font-size: 13px;
    font-weight: 600;
    top: 6px;
}
.blockvalue3{
  
    color: #F5F5F5;
    font-size: 13px;
    font-weight: 600;
    top: 6px;
}

.city{

    color: #FF006B;
    font-size: 26px;
    position: relative;
    top: 8px;
    left: 6%;
    font-weight: 700;
    font-family: sans-serif;
}

.weatherdetails{

    height: 29px;
   
    gap: 0px;
    opacity: 0px;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 29.33px;
    text-align: left;
    /* background: #cc1313; */
    position: relative;
    left: 7%;
    top: 35px;
    color: #F5F5F5;font-size: 16px;font-family: sans-serif;
    width: 100%;

}
 .forecast{

    width: 100%;
    position: relative;
    left: 48%;
    top: -24px;
    font-size: 16px;
    font-family: sans-serif; 
    font-weight: 600;
    color: #F5F5F5;
 }

 .temp{

    color: #FFC801;
    font-size: 42px;
    font-weight: 600;
    position: relative;
    left: 6%;
    top: -45px;
    font-family: sans-serif;
 }

 .overcast{
    font-size: 15px;
    position: relative;
    top: 9px;
    left: 5.5%;
    color: #F5F5F5;
    font-family: sans-serif;
 }

 .divdata{
    display: flex;
    flex-direction: row;
 }

 .sun{

    font-size: 15px;
    font-family: sans-serif;
 }

 .divsun{
    display: flex;
    /* background-color: red; */
    position: relative;
    top: -145px;
    left: 83%;
    width: 15%;
 }

 .divairdeg{
    /* background-color: red;  */
    width: 20%;

    /* height: 55%; */
    position: relative;
    top: -120px;
    left: 77%;
 }

 .airdeg{

    position: relative;
    left: 13%;
    font-family: sans-serif;
    font-size: 14px;
 }

 .day1{

    font-weight: 600;
    margin-right: 11%;
    /* margin-left: 8%; */
    color: #373434;
    font-family: sans-serif;
    font-size: 13px;
    position: relative;
    left: 8%;
    width: 8%;
    top: 5px;
 }

 .blocks{
    background-color: rgb(0, 0, 0);width: 26%; height: 10vh; border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 @media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
    } */
     
    body{
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
    }
    /* .container{
        margin-top: auto;
        width: 98%;
        height: 100vh;
      
        overflow:auto;
        background-image: url(https://wallpapers.com/images/hd/yellow-hd-bokeh-pattern-919v5bua8ig5jzk9.jpg);
    
    } */
    
    .content{
        margin: auto;
        width: 100%;
        height: 100%; 
        position: relative;
        top: 0%;
        background-color: #fbf3f3;
        box-shadow: 0px 0px 20px #000000CC;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        flex-wrap: wrap;
        /* background-color: #d62323; */
        /* background-image: url(https://media.istockphoto.com/id/1327586819/video/amazing-nature-cloudscape-time-lapse-storm-clouds-at-sunset-or-sunrise-time-horrible-weather.jpg?s=640x640&k=20&c=wf0HaNa9DleskmOnfxNC8N_T1-x-sm2_XUrD4SksBK8=); */
        background-repeat: no-repeat;
       
        background-image: url(https://i.pinimg.com/736x/b8/6b/c2/b86bc2d435a63ff3c3199a8db558def1.jpg);
        justify-content: center;
        align-items: center;
       
    }
    
    .item1{
    
        color: white;
        width: 94%;
        height: 30%;
        background-color: #00000066;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 2px #7D7878;
        position: relative;
        top: 35px;
    }
    
    
    .item2{
        
        width: 100%;
        height: 31%;
      
        /* margin-right: 3%; */
       
        background: #00000066;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 2px #7D7878;
        position: relative;
        top: -3%;
        left: 2%;
    
    }
    
    
    
    .item3{
        width: 92%;
        height: 18%;
       
        background: #00000066;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 2px #7D7878;
        position: relative;
        top: -1%;
        display: flex;
    }
    
    
    h1{
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }
    
    .block1{
        color: #7D7878;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        top: 24%;
       
    }
    .block2{
        color: #7D7878;
        font-family: sans-serif;
        font-size: 22px;
        font-weight: 600;
        position: relative;
        top: 24%;

       
    }
    
    .blockvalue1{
       
        color: #F5F5F5;
        font-size: 26px;
        font-weight: 600;
        position: relative;
        top: -26%;
     
    }
    .blockvalue2{
    
        color: #F5F5F5;
        font-size: 26px;
        font-weight: 600;
        position: relative;
        top: -26%;
    }
    .blockvalue3{
      
        color: #F5F5F5;
        font-size: 26px;
        font-weight: 600;
        position: relative;
        top: -23%;
    }
    
    .city{
    
        color: #FF006B;
        font-size: 30px;
        position: relative;
        top: -2px;
        left: 4%;
        font-weight: 700;
        font-family: sans-serif;
    }
    
    .weatherdetails{
    
        height: 29px;
       
        gap: 0px;
        opacity: 0px;
        font-weight: 600;
        line-height: 29.33px;
        text-align: left;
        /* background: #cc1313; */
        position: relative;
        left: 3%;
        top: 4%;
        color: #9da2cb;font-size: 24px;font-family: sans-serif;
        width: 100%;

    
    }
     .forecast{
    
        width: 100%;
        position: relative;
        left: 4%;
        top: 34.5%;
        font-size: 20px;
        font-family: sans-serif; 
        font-weight: 600;
        color: #9da2cb;
     }
    
     .temp{
    
        color: #FFC801;
        font-size: 42px;
        font-weight: 600;
        position: relative;
        left: 6%;
        top: -45px;
        font-family: sans-serif;
     }
    
     .overcast{
        font-size: 15px;
        position: relative;
        top: 9px;
        left: 5.5%;
        color: #F5F5F5;
        font-family: sans-serif;
     }
    
     .divdata{
        display: flex;
        flex-direction: row;
     }
    
     .sun{
    
        font-size: 19px;
        font-family: sans-serif;
     }
    
     .divsun{
        display: flex;
        /* background-color: red; */
        position: relative;
        top: -30%;
        left: 42%;
        width: 100%;
     }
    
     .divairdeg{
        /* background-color: red;  */
        width: 100%;
    
        /* height: 55%; */
        position: relative;
        top: -25%;
        left: 25%;
     }
    
     .airdeg{
    
        position: relative;
        left: 17%;
        font-family: sans-serif;
        font-size: 19px;
        width: 100%;
     }
    
     .day1{
    
        font-weight: 600;
        margin-right: 11%;
        /* margin-left: 8%; */
        color: #373434;
        font-family: sans-serif;
        font-size: 12px;
        position: relative;
        left: 1%;
        width: 8%;
        top: 6px;
     }
    
     .blocks{
        width: 41%;
        height: 9vh;
        background-color: rgb(0, 0, 0); border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
     }
  }